@model FinalDeleteNameDTO
@{
    ViewData["Title"] = "Final Delete";
}
<h2 class="text-center" style="margin-top: 55px;">Intern removal page</h2>
<div class="alert alert-success text-center" style="width: 50%; margin: auto; margin-top: 25px; font-size: 20px;">
    <strong>Success!</strong> Intern @Model.Name deleted successfully!
</div>