@{
    ViewData["Title"] = "Home";
}

<h1 style="margin-top: 55px; text-align: center;">Welcome to Company Register</h1>
<img style="margin-top: 35px; width: 100%;" src="https://blog.ipleaders.in/wp-content/uploads/2016/06/Company_picture.jpg" alt="Alternate Text" />